<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.mapper.AdminMapper">
    <insert id="insert" parameterType="cn.itcast.pojo.Admin">
        insert into [admin]
        values(#{Admin_id},#{nickname},#{username},#{password},#{pobelong},#{tel},#{constraint})
    </insert>

    <select id="selectByUsernamePassword" parameterType="cn.itcast.pojo.Admin" resultType="cn.itcast.pojo.Admin">
        select * from [admin]
        where username = #{username} and password = #{password}
    </select>

    <select id="selectByUsername" parameterType="string" resultType="string">
        select username from [admin]
        where username = #{0}
    </select>

</mapper>